.login {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  /* margin: 50% 0;
  transform: translateY(-50%); */
  height: 80vh;
}

.login-msg {
  /* display: flex;
  flex-direction: column; */

  text-align: center;
}
.login-msg * {
  margin: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm input {
  border: none;
  border-bottom: 1px solid gray;
  color: gray;
  height: 40px;
  outline: 0;
  font-size: 1.2em;
}

.loginForm input:focus {
  border-color: green
}

.loginForm label {
  margin: 20px 0 0;
}

.forgotPassword {
  margin: 20px 0;
}

.loginBtn {
  height: 50px;
  width: 150px;
  border-radius: 50px;
  border: none;
  background-color: rgb(95, 158, 160);
  color: white;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: rgba(95, 158, 160, .8);
}

.signup {
  width: 40%;
  height: 80vh;
  margin: 50% auto;
  transform: translateY(-50%);
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.signUpForm input {
  border: none;
  border-bottom: 1px solid gray;
  color: gray;
  height: 40px;
  outline: 0;
  font-size: 1.2em;
}

.signUpBtn {
  height: 50px;
  width: 150px;
  margin: 30px 0 0 ;
  border-radius: 50px;
  border: 1px solid rgb(95, 158, 160);
  background-color: white;
  
  color: rgb(95, 158, 160);
  cursor: pointer;
}

.signUpBtn:hover {
  background-color: rgb(95, 158, 160);
  color: white;
  border: none
}