.productDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  margin: 0 auto;
  
}

.productDetail * {
  margin: 10px;
}

.productDetail h6 {
  font-size: 1.5em;
}

.productDetail div {
  display: flex;
  justify-content: center;
}

.productDetail img {
  display: flex;
  justify-content: center;
  background-color: black;

  width: 300px;
  margin: 50px 0 20px 0;
}

.cartBtn {
  width: 100px;
  height: 30px;

  border: none;
  cursor: pointer;
}

.cartBtn:hover {
  border: 1px solid gray
}

.productDetail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-description {
  width: 70%;
  line-height: 25px;
  text-align: left;
}